.filter {
    display: flex;
    align-items: center;

    gap: 1rem;
    
    margin-bottom: 20px;
    
    div {
        display: inline-flex;
        align-items: center;

        gap: 0.5rem;

        width: fit-content;

        border: 1px solid var(--grey-200);
        border-radius: 8px;

        padding: 6px;

        background: var(--grey-0);
    }

    button {
        display: flex;

        background: transparent;
    }
}